.root {
    -fx-background-color: #282a36;
}

.table-view {
    -fx-background-color: transparent;
}

.table-view:focused {
    -fx-background-color: #f1fa8c;
}

.table-view .column-header-background {
    -fx-background-color: linear-gradient(#131313 0%, #424141 100%);
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: #f8f8f2;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-row-cell {
    -fx-table-cell-border-color: transparent;
}

.table-row-cell:odd {
    -fx-background-color: #6272a4;
}

.table-row-cell:even {
    -fx-background-color: #44475a;
}

.table-view .table-cell {
    -fx-text-fill: #f8f8f2;
}

.table-row-cell:selected {
    -fx-background-color: #932563;
}

.table-row-cell:selected .text {
    -fx-fill: #50fa7b;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}

.table-view > .virtual-flow > .scroll-bar > .increment-button,
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}